{
  "plugins": [
    "syntax-dynamic-import",
    "transform-async-to-generator",
    [
      "react-intl",
      {
        "messagesDir": "./messages/build/"
      }
    ]
  ],
  "presets": ["env", "react"],
  "env": {
    "test": {
      "plugins": ["dynamic-import-node"]
    }
  }
}
