.not-found-wrapper {
  text-align: center;

  img {
    margin: 50px 0;
    max-width: 400px;
  }
}

.not-found-text {
  max-width: 400px;
  margin: auto;

  p {
    margin-top: 30px;
    font-size: 1.1em;
  }
}